env
.env
MESSAGES.json
__pycache__/
*.egg-info/
*.egg
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.py[co]
*.mo
*.pot
*.env
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.xml
*.log
*.db
local_settings.py
db.sqlite3
instance
.mypy_cache
